spring:
  datasource:
    master:
      jdbc-url: jdbc:mysql://localhost:3307/healtheat?characterEncoding=UTF-8&serverTimezone=UTC&zeroDateTimeBehavior=convertToNull
      username: big
      password: big
    slave:
      jdbc-url: jdbc:mysql://localhost:3307/healtheat?characterEncoding=UTF-8&serverTimezone=UTC&zeroDateTimeBehavior=convertToNull
      username: big
      password: big
  jpa:
    show-sql: true
    properties:
      hibernate.format_sql: true
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect

logging:
  level:
    org:
      springframework:
      hibernate:
        type:
          descriptor:
            sql: trace
